* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

#joneswood {
  color: rgb(0, 182, 182);
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Bad Script', cursive;
}

#myCarousel {
  max-width: 800px;
  scroll-margin-top: 80px;
}

#myAbout {
  max-width: 350px;
  scroll-margin-top: 80px;
}

.mdev {
  font-size: 10px;
  margin-top: 150px;
  text-decoration: none;
  color: inherit;
}
