*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  font-family: 'Bad Script', cursive;
  font-weight: bolder;
  font-size: large;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  color: rgb(40, 187, 187);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.joneswood {
  padding: 0 20px 0 40px;
  font-size: xx-large;
}

html {
  background-color: #707070;
}

.photo {
  width: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.carousel {
  display: flex;
  align-items: center;
  width: 400px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > button {
  background: none;
  border: none;
  color: #f2f2f2;
  font-size: 70px;
  position: relative;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
